<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <!-- URI -->
    <add key="Uri" value="http://www.duckduckgo.com/"/>

    <!--Browser to run tests under. Valid values are chrome, firefox, ie, or phantomjs.-->
    <add key="Browser" value="phantomjs"/>

    <!--Default Timeout in Seconds-->
    <add key="Timeout" value="5"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
