<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- URI -->
    <add key="Uri" value="http://www.duckduckgo.com/" />

    <!--Browser to run tests under-->
    <add key="Browser" value="phantomjs" />

    <!--Default Timeout in Seconds-->
    <add key="Timeout" value="5" />

  </appSettings>
</configuration>